

.main h5{
  font-family: 'Nunito Sans', sans-serif;
font-weight: 800;
}

p {
  font-family: 'Nunito Sans', sans-serif;
font-weight: 600;
}

h4 {
  text-align: center;
  margin: 0 auto;
}


.footer-below {
  padding-top: 30px;
  padding-bottom: 120px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
}

.main {
  background-color: #fffaf2;
}

body {
  background-color: #fffaf2;

  }


a {
  color:#333333;
}

a:hover {
  color: #ede014;
}

.paragraph a:hover {
  color: #ede014;
}

.paragraph a {
    color:#333333;
    text-decoration: underline;
}

.logo-footer {
  text-align:right;
}

h3 {
  color: #3e48a9;
}

h3{
  font-family: 'Nunito Sans', sans-serif;
  /*style:bold;*/
  font-weight: 800;
}


.col-sm-4 {
  text-align:center;
}

.box {
  max-width: 380px !important;
  max-height: 380px !important;
  /*text-align: center;*/
}

/*.container {
  margin-top: 6em;
}*/

/*.footer-below .container{
  padding-left: 15px;
  padding-right: 15px;
}*/








body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

/*.img-thumbnail {
  padding: .25rem;
  /*background-color: #fff;*/

  border: none !important;
  border-radius: .25rem;
  transition: all .2s ease-in-out;
  max-width: 100%;
  height: auto;
  margin-bottom: 100px !important;
}*/




/*<style type="text/css">*/
body {
  margin: 0;
  padding: 0;
  background-color: #fffaf2 !important;
  font-family: 10px 'Nunito Sans', sans-serif;
}
.wrap {
  overflow: hidden;
  margin: 10px;
}
.box {
  float: left;
  position: relative;
  width: 20%;
  padding-bottom: 20%;
}
.boxInner {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}
.img-container .img {
  width: 100%;
  max-width: 380px !important;
  max-height: 380px !important;
  padding-bottom: 10px;
  padding-top: 20px;
}




/*</style>*/
